* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  font-family: 'nyt-imperial', georgia, 'times new roman', times, serif;
}

.flex {
  display: flex;
}

.imgDiv {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 70%;
}

#Head_logo {
  position: fixed;
  height: 45px;
  justify-content: space-around;
  align-items: stretch;
  border-bottom: 1px solid rgb(202, 202, 202);
  background-color: white;
}

.logo {
  max-width: 20%;
}

#Head_logo .logo {
  margin-top: -10px;
}

.logoDiv {
  flex: 4;
  margin-left: 180px;
  align-items: center;
}

.menuDiv {
  display: flex;
  align-items: stretch;
  flex: 1;
  width: 200px;
}

img {
  padding-top: 20px;
  height: auto;
  max-width: 67%;
  margin-left: 200px;
}

.image_column_side img {
  height: 20%;
  width: 10%;
}

.body_content_image_1 img {
  margin-left: 40px;
  padding-right: 4px;
  font-size: 0;
}

.content_image_article {

}

.menuDiv a img {
  max-width: 25%;
  margin-left: 20px;
}

a {
  text-decoration: none;
}

.menuDiv a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.navBtns {
  padding-bottom: 20px;
}

.navBtns:hover {
  background-color: rgb(202, 202, 202);
}

.navlinks {
  flex: 1;
  font-size: 13px;
  color: black;
  margin-left: 60px;
  font-weight: bold;
}

.navlinks:hover {
  text-decoration: underline;
}

.logoHeadBtns {
  flex: 1;
  justify-content: start;
  align-items: center;
}

.headerbtn {
  background-color: rgb(72, 101, 145);
  color: #fff;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  border: 0 transparent;
  height: 30px;
  border-radius: 3px;
  font-weight: bold;
  margin-top: 9px;
}

.headerbtn:hover {
  background-color: rgb(58, 94, 146);
  cursor: pointer;
}

.first_head_title a {
  font-size: 14.25px;
  color: black;
  text-transform: uppercase;
  letter-spacing: 0.7px;
  line-height: 19px;
  margin-left: 80px;
}

.head_button {
  margin-left: 1150px;
}

.subscribe_button {
  background-color: rgb(86, 123, 149);
  border-radius: 3px;
  text-transform: uppercase;
  color: white;
  height: 30px;
  cursor: pointer;
}

.login {
  background-color: rgb(86, 123, 149);
  border-radius: 3px;
  width: 70px;
  height: 30px;
  text-transform: uppercase;
  color: white;
  cursor: pointer;
  letter-spacing: 0.05em;
}

.head_line {
  width: 1400px;
  color: red;
  background-color: red;
}

h1 {
  padding-top: 100px;
}

.first_head h1 {
  color: #121212;
  font-style: italic;
  font-size: 1.9375rem;
  line-height: 2.25rem;
  position: relative;
  width: calc(100% - 40px);
  max-width: 600px;
  margin-left: 400px;
}

hr {
  max-width: 40%;
  margin-left: 400px;
}

.social_media_york ul li {
  width: 25px;
  display: inline-block;
  background-color: #ccc;
  margin-left: 18px;
  margin-bottom: 5px;
  border-radius: 50%;
  cursor: pointer;
}

.social_media_york :hover {
  color: white;
}

.social_media .social_media_york {
  margin-left: 390px;
  padding-top: 20px;
}

.caption_image1 {
  margin-right: 7px;
  color: #666;
  font-size: 0.875rem;
  line-height: 1.125rem;
  margin-left: 200px;
  max-width: 65%;
  display: block;
}

.author_name {
  padding-top: 20px;
  margin-left: 350px;
  color: #333;
  text-decoration: none;
  font-size: 16px;
  font-family: nyt-cheltenham, georgia, 'times new roman', times, serif;
}

ul {
  list-style-type: none;
}

.author_time {
  padding-top: 20px;
  margin-left: 350px;
  color: #333;
  text-decoration: none;
  font-size: 16px;
  font-family: nyt-cheltenham, georgia, 'times new roman', times, serif;
}

.content_1_paragraph {
  padding-top: 25px;
  margin-left: 350px;
  max-width: 45%;
  display: block;
  font-size: 1.2rem;
}

.create_account {
  padding-top: 10px;
  margin-left: 500px;
}

.create_account a {
  text-decoration: none;
}

.small_line {
  max-width: 5%;
  margin-left: 550px;
}

aside {
  float: right;
  padding-left: 830px;
  margin-top: -550px;
}

iframe {
  margin-left: 350px;
  margin-top: 30px;
  width: 560px;
  height: 315px;
}

.article_title {
  margin-left: 200px;
}

.article_line {
  max-width: 30%;
  margin-top: 6px;
  margin-left: 200px;
}

.article_head_line {
  display: inline;
  padding-top: 10px;
  font-size: 9px;
}

.content_2_paragraph {
  padding-top: 25px;
  margin-left: 350px;
  max-width: 40%;
  display: block;
  font-size: 1.2rem;
}

.inflation_title {
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 24px;
  line-height: 1.5rem;
  font-weight: 700;
  font-style: normal;
  margin-left: 140px;
}

.inflation_summary {
  font-size: 1rem;
  line-height: 23px;
  line-height: 1.4375rem;
  font-weight: 400;
  font-style: normal;
  color: #666;
  margin-left: 140px;
}

.inflation_image {
  display: flex;
  flex-direction: row;
  font-size: 14px;
  color: #000;
  text-align: left;
}

.inflation_image {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto;
  padding: 10px;
  margin-left: -10px;
}

.inflation_image_position {
  display: inline-block;
  padding: 10px;
  font-size: 10px;
}

.inflation_image_position_info {
  margin-top: 120px;
  font-size: 12px;
}

.inflation_image_info {
  flex: 20%;
}

.inflation_line {
  margin-top: 20px;
  max-width: 5%;
  margin-left: 140px;
}

.story-info {
  padding-bottom: 40px;
  padding-top: 20px;
  margin-left: 140px;
  color: #333;
  text-decoration: none;
  font-size: 14px;
  font-family: nyt-cheltenham, georgia, 'times new roman', times, serif;
}

.caption_video {
  color: #666;
  font-family: nyt-imperial, georgia, 'times new roman', times, serif;
  font-size: 0.875rem;
  line-height: 1.125rem;
  margin-left: 350px;
  max-width: 65%;
  display: block;
}

.content_3_paragraph {
  padding-top: 25px;
  margin-left: 350px;
  max-width: 45%;
  display: block;
  font-size: 1.2rem;
}

.image2 {
  padding-top: 20px;
  height: auto;
  max-width: 70%;
  margin-left: 155px;
}

.content_4_paragraph {
  padding-top: 25px;
  margin-left: 350px;
  max-width: 45%;
  display: block;
  font-size: 1.2rem;
}

.read_comment {
  margin-left: 350px;
  font-size: 0.75rem;
  line-height: 1rem;
  width: calc(100% - 40px);
  max-width: 600px;
  color: rgb(102, 102, 102);
  margin-bottom: 10px;
}

.read_comment_2 {
  background-color: rgb(86, 123, 149);
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 5px;
  margin-left: 350px;
  border-radius: 4px;
  cursor: pointer;
  width: 350px;
  margin-bottom: 60px;
}

.social_comment_button .social_media_york {
  margin-left: 750px;
  margin-top: -110px;
}

.small_line_2 {
  margin-left: 100px;
  max-width: 60%;
  margin-top: 80px;
}

#section_2_title {
  color: black;
  margin-left: 100px;
}

#section_2_title a {
  color: #000;
  text-decoration: underline;
}

.body_content {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}

.body_content_image_1 {
  width: 30%;
  display: inline-block;
  padding: 10px;
  font-size: 15px;
}

.content_image_caption {
  margin-right: 2px;
  color: #666;
  font-size: 0.6rem;
  line-height: 1.15rem;
  margin-left: 110px;
  display: block;
}

.bottomdate {
  color: #888;
  font-size: 12px;
}

.bottomlogohome {
  margin: 0 auto 0 auto;
  max-width: 70%;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-top: 2px double #e2e2e2;
  margin-bottom: 20px;
}

.bottomlogo {
  display: flex;
  align-items: flex-start;
  flex: 10;
}

.home_bottom_button {
  flex: 1;
  font-size: 11px;
  display: flex;
  align-items: flex-end;
}

.home_bottom_button a {
  color: #000;
  font-size: 10px;
}

.bottomflex {
  display: flex;
  flex-direction: column;
}

.bottomn_part {
  display: flex;
  width: 70%;
  margin: 0 auto 0 auto;
  height: 420px;
  border-bottom: 0.5px solid #ccc;
  margin-bottom: 25px;
}

.bottomn_part a {
  color: #000;
  font-size: 15px;
  padding-top: 10x;
  margin-bottom: 10px;
}

.bottomnavpart {
  text-align: left;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.bottomnavtitle {
  margin-bottom: 10px;
  color: rgb(51, 51, 51);
  font-weight: bold;
  font-size: 13px;
}

.footer {
  max-width: 80%;
  margin: 0 auto auto auto;
  display: flex;
  justify-content: space-around;
  font-size: 11px;
  padding-bottom: 20px;
}
